* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #39a6b2;
    --secondary-color: #ddb83d;
    --tertiary-color: #f5f3e7;
    --quaternary-color:#131003;
}

body {
    color: var(--quaternary-color);
    font-family: Arial, Helvetica, sans-serif

}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #f5f3e7; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }


.section-title-about {
    display:flex;
    text-align: center;
    justify-content: center;
}

.bio {
    background-color: black;
    color: var(--primary-color);
    border-bottom: 4px Var(--primary-color);
   
}

.details{
    display: flex;
}

.details p {
    text-align: center;
    font-size: 24px;
    padding: 50px 0 0 50px;
}

.bio h1 {
    
    
}

.bio p {
    margin: 15px 20px 10px 0px;
    justify-content: center;
    font: 40px;
}


.photo img {
    width: 400px;
    height: auto;
}