

#contact-info {
    background-color: var(--primary-color);
}

.get-in-touch {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

.feeling-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    text-align: center;    
}

.sm-links {
    display: inline-block;
    margin: 0 10px;
    flex-wrap: wrap;
    color: var(--quaternary-color);
    font-size: 50px;
    justify-content: space-between;
}
/* End styles for 'contact' section */

/* REACH OUT STYLES START*/
.contact {
    background: var(--primary-color);
}

.contact h2 {
    color: var(--quaternary-color);
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info > * {
    flex: 1;
    margin: 15px;
} 

.contact-info div {
    color: var(--tertiary-color);
}

#resume {
    color: var(--secondary-color)
}

.contact-info h3 {
    color: var(--quaternary-color);
    font-size: 32px;
}

.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
    color: var(--tertiary-color);
}

.contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size:  16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
}

.contact-form input:focus, .contact-form textarea:focus {
    background-color:rgba(255,255,255, 1);
    outline: none;
}

.contact-form button {
    width: 100%;
    border: none;
    background: var(--quaternary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}

.contact-form button:hover {
    color: var(--primary-color);
    background: var(--tertiary-color);
}

.contact-info a {
    color: var(--tertiary-color);
}

.flex-row {
    display: flex;
}